#top {
    width: 100%;
    background: rgb(235, 253, 255);
    ;
}

.top-inner {
    width: 960px;
    height: 98px;
    margin: 0 auto;
}

.top-inner img {
    width: 160px;
}

#main {
    width: 100%;
    background: rgb(235, 253, 255);
    min-height: 600px;
}

.main-inner {
    width: 960px;
    min-height: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.login-box {
    width: 400px;
    height: 588px;
    float: right;
    background: #fff;
    margin-top: 20px;
}

.box-list {
    width: 400px;
}

.box-list li {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.box-item::placeholder {
    color: #999;
}

.box-title {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

.span-big {
    padding: 0 20px;
}

.box-item {
    width: 330px;
    height: 30px;
    border: 1px solid #cccccc;
    padding: 10px;
}

.box-btn {
    width: 350px;
    height: 50px;
    line-height: 30px;
    background: rgb(255, 103, 0);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.box-text1 {
    color: rgb(255, 103, 0);
    font-size: 14px;
}

.box-text2 {
    font-size: 14px;
    color: #999;
}

.box-text2 span {
    padding-left: 0 2px;
}

.box-middle5 {
    padding-top: 20px;
}

.box-middle5 span {
    padding-left: 5px;
}

.box-buttom {
    padding-top: 100px;
}

.box-buttom i {
    font-size: 25px;
    margin: 0 20px;
}

#footer {
    width: 100%;
}

.footer-inner {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.footer-list {
    margin-top: 40px;
}

.footer-list li {
    width: 100%;
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}

.footer-item {
    font-size: 14px;
    color: #777;
}

.footer-item:hover {
    color: #000;
}