#common-header {
    width: 100%;
    position: relative;
}

.fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
}

.top-nav {
    width: 100%;
    background: #F0F0F0;
}

.top-nav-inner {
    height: 40px;
}

.top-nav-location {
    width: 100px;
    height: 40px;
    color: #666666;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    float: left;
}

.top-nav-list {
    width: 900px;
    height: 100%;
    float: right;
    position: relative;
}

.top-nav-list>li {
    width: 100px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    float: left;
}

.top-nav-a {
    color: #666666;
    font-size: 13px;
}

.change-color:hover {
    color: rgb(255, 103, 0);
}

.top-nav-ewm {
    position: relative;
}

.ewm-list {
    position: absolute;
    z-index: 4;
    width: 100px;
    height: 100px;
    text-align: center;
    top: 40px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(167, 167, 167, .4);
    border-top: none;
    display: none;
}

.ewm-list img {
    width: 100px;
}

.top-nav-service {
    position: relative;
}

.service-list {
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 40px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(167, 167, 167, .4);
    border-top: none;
    display: none;
}

.service-list>li {
    width: 100px;
    height: 50px;
    font-size: 12px;
}

.top-nav-more {
    position: relative;
    z-index: 21;
}

.more-list {
    width: 100px;
    height: 100px;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 20;
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 3px rgba(167, 167, 167, .4);
    border-top: none;
    display: none;
}

.logo-inner {
    height: 100px;
    position: relative;
}

.logo {
    width: 100%;
}

.logo-inner img {
    float: left;
    width: 140px;
    margin-top: 25px;
}

.search {
    float: left;
    width: 650px;
    margin-top: 20px;
    margin-left: 100px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    position: relative;
}

.search-icon {
    position: absolute;
    top: 2px;
    left: 5px;
    display: block;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.search-icon i {
    font-size: 30px;
    color: #E3E3E3;
}

.search input {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
}

#search-btn {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 100px;
    height: 42px;
    font-size: 16px;
    border: none;
    background: #00BBD7;
    color: #fff;
    float: right;
}

.reg-btn,
.login-btn,
.shop-cart {
    float: left;
    text-align: center;
    line-height: 40px;
}

.reg-btn {
    width: 65px;
    height: 40px;
    font-size: 16px;
    background-color: #fc3538;
    color: #fff;
    margin: 20px 0 0 60px;
}

.login-btn {
    width: 65px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
    border: 1px solid #e1e1e1;
    color: #616161;
    margin: 20px 0 0 20px;
}

.shop-cart {
    width: 40px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e1e1e1;
    margin: 20px 0 0 20px;
}

.shop-cart i {
    font-size: 20px;
}

.guide-list {
    position: absolute;
    bottom: -24px;
}

.guide-list li {
    float: left;
}

.guide-list>li>a {
    color: rgb(157, 157, 157);
    line-height: 20px;
}

.line {
    color: rgb(157, 157, 157);
    line-height: 20px;
    margin: 0 5px;
}

.shop-car {
    width: 100px;
    height: 30px;
    margin-top: 35px;
    margin-left: 30px;
    background: #fff;
    float: right;
    text-align: center;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.shop-car a {
    display: inline-block;
    font-size: 14px;
    text-indent: 10px;
}

.main-nav {
    width: 100%;
    background: #33353D;
    box-shadow: 0 1px 3px rgba(167, 167, 167, .4);
}

.main-nav-inner {
    height: 50px;
}

.main-nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main-nav-menu>li {
    list-style: none;
}

.main-nav-menu>li>a {
    display: block;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.change-bgcolor:hover {
    background: #00BBD7;
}

#main {
    width: 100%;
    margin: 0 auto;
    min-height: 600px;
    background: url("https://www.sundan.com/public/images/d7/5d/16/aa3a6e3131cab2cd4db72dd620b941bd7374d8a8.png");
}

.reg-box {
    width: 350px;
    height: 500px;
    float: right;
    background: #fff;
    margin: 30px 160px 0 0;
}

.reg-title,
.reg-input,
.reg-button {
    width: 350px;
    height: 60px;
    margin-top: 15px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    position: relative;
}

.span-big {
    font-size: 24px;
    color: #999;
    padding: 0 20px;
}

.reg-input input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 1px solid #cccccc;
}

.reg-input i {
    font-size: 20px;
}

.look {
    position: absolute;
    bottom: -5px;
    right: 35px;
    cursor: pointer;
}

#userID::placeholder,
#pwd::placeholder,
#checkpwd::placeholder {
    color: #999;
}

.reg-button button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: center;
    cursor: pointer;
    background: rgb(255, 103, 0);
    color: #fff;
    font-size: 14px;
}

.reg-agree {
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin-left: 15px;
    font-size: 12px;
}

.reg-agree a {
    font-size: 12px;
}

.text-color {
    color: rgb(255, 103, 0);
}

.reg-text {
    width: 350px;
    height: 60px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

#footer {
    width: 100%;
    height: 330px;
}

.footer-service {
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}

.footer-service-list {
    margin: 0;
    padding: 0;
}

.footer-service-list-item {
    margin: 27px 0;
    float: left;
    width: 19.8%;
    height: 26px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.footer-service-list-item i {
    font-size: 20px;
    margin-right: 10px;
}

.footer-links {
    width: 100%;
    padding: 40px 0;
}

.span8 {
    float: left;
    width: 160px;
    margin: 0;
}

.span8 dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.span8 dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.connect {
    width: 239px;
    float: right;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.connect-tel {
    font-size: 22px;
    color: #ff6700;
}

.connect-follow {
    margin-top: 5px;
}

.connect-follow i {
    margin-right: 5px;
}

.connect-time {
    margin: 0 0 5px 0;
    font-size: 12px;
}

.connect-talk {
    display: inline-block;
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ff6700;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}

.connect-talk i {
    list-style: 28px;
}

#info {
    width: 100%;
    background: rgb(250, 250, 250);
    height: 270px;
}

.info-inner {
    padding: 30px 0;
    font-size: 12px;
    position: relative;
}

.info-logo {
    width: 100px;
    margin-right: 10px;
    position: absolute;
    top: 50px;
    left: 0;
}

.info-logo img {
    width: 100px;
}

.info-text {
    color: #b0b0b0;
    text-align: center;
    padding: 15px 0 0 0px;
}

.sites {
    line-height: 18px;
}

.sites a {
    color: #757575;
    font-size: 12px;
}

.info-links {
    height: 28px;
    margin: 10px 0 15px;
}

.info-links-img {
    height: 30px;
}

.info-link1 {
    width: 1000px;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.link1-a {
    color: rgb(255, 103, 0);
}