body {
    background: #F3F3F3;
}

#header-wrap {
    border-bottom: 2px solid #000;
    background: #F3F3F3;
}

.header {
    height: 110px;
    padding-bottom: 20px;
    display: flex;
}

.logo-box {
    display: block;
    margin-top: 30px;
}

.title {
    color: #303030;
    font-size: 30px;
    margin-left: 75px;
    line-height: 110px;
}

.text {
    margin-top: 40px;
    margin-left: 15px;
    width: 790px
}

.cart-main {
    width: 100%;
    margin-top: 20px;
}

.cart-header {
    background-color: #fff;
}

.cart-top {
    width: 150px;
    float: left;
    text-align: center;
    position: relative;
}

.check-all,
.check-one {
    position: absolute;
    left: 30px;
    top: 24px;
}

.cart-item-list {
    width: 100%;
    background: #fff;
}

.cart-item {
    width: 100%;
    display: flex;
    border-top: 1px solid #c1c1c1;
    padding-bottom: 10px;
    position: relative;
}

.check,
.name,
.price,
.sellout,
.num,
.small-all,
.score,
.action {
    width: 150px;
    text-align: center;
    margin-left: 0;
    margin-top: 25px;
    font-size: 14px;
}

.good-img img {
    width: 80px;
    cursor: pointer
}

.good-name a {
    color: #303030;
    font-size: 14px;
    line-height: 0;
}

.price {
    color: #666;
}

.sellout,
.small-all {
    color: red;
}

.num-box {
    width: 100px;
    height: 32px;
    border: 1px solid #c1c1c1;
    display: flex;
    margin-left: 25px;
    margin-top: -10px;
    overflow: hidden;
}

.num-reduce,
.num-add {
    display: inline-block;
    width: 30px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background: #fff;
}

.num-reduce:hover,
.num-add:hover {
    background: #666;
    color: #fff;
}

.num input {
    border: none;
    height: 32px;
    line-height: 32px;
    width: 40px;
    margin-top: 2px;
    text-align: center;
}

.action i {
    display: inline-block;
    margin: 0 5px;
}

.delete,
.like {
    cursor: pointer;
}

.cart-footer {
    width: 100%;
    background: #fff;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.cart-footer-left,
.cart-footer-right {
    display: flex;
}

.check-box {
    position: relative;
    width: 100px;
    height: 60px;
    text-indent: 60px;
    line-height: 60px;
    font-size: 16px;
}

.check-items-del,
.all-items-num,
.select-items-num,
.other-items,
.go-index {
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}

.check-items-del,
.other-items {
    cursor: pointer;
}

.all-change-num,
.select-change-num {
    color: rgb(252, 53, 56);
    margin: 0 5px;
}

.items-price {
    width: 280px;
    font-size: 16px;
    white-space: nowrap;
    line-height: 60px;
    display: flex;
}

.items-price span {
    display: block;
    height: 60px;
    line-height: 60px;
}

.change-price {
    font-size: 30px;
    color: rgb(252, 53, 56);
    margin-right: 5px;
}

.account {
    width: 150px;
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #dbdbdb
}

.cart-footer-right a {
    font-size: 16px;
    line-height: 60px;
}